@import url('https://fonts.googleapis.com/css?family=Poppins');

body {
  font-family: 'Poppins';
}

header > div {
    padding: 0 20px 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid lightgray;
  }
  
  nav {
    width: 600px;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  nav a {
    text-decoration: none;
    color: black;
  }
  
  .black-heart {
    width: 20px;
    margin-right: 1rem;
  }

  .search-bar-form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

.search-bar-form > .npm-logo{
    width: 80px;   
    padding: 0 20px;            
}

.bar{   
    height: 25px; 
    width: 100%;   
    border: 1px solid #555;
    padding: 9px 4px 9px 40px;
    background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat 13px center;
  }

.btn-form-1{
  display: block; 
  border: none;
  background-color: #fb3e44;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
}

.btn-form-2{
  border: 1px solid black;
  display: block;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  margin-left: 30px;
}

.btn-form-3{
  display: block;
  border: none;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
}

#section-one{
  background-color: rgba(232,217,217,.3);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#section-one div{
  display: flex;
  flex-direction: row;
  padding-bottom: 20px;
}

#section-one h1{
  font-size: 48px;
  font-weight:900;
  margin-bottom: 0;
}

#section-one article{
  font-size: 16px;
}

.btn-see-plans{
  display: block;
  width: 100%;
  border: none;
  background-color: #FB3B49;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  box-shadow: 8px 8px 0 rgba(251,59,73,.2);
}

.btn-join-ff{
  display: block;
  width: 100%;
  border: none;
  background-color: transparent;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
}

#section-two{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#section-two h2{
  background-color: rgba(255,204,53,.4);
  transform: skew(9deg,0deg);
  font-style: italic;
  font-size:900;
  padding: 0 20px 0 20px;
  margin-top: 50px;
}

.triangle-hexagon{
  width:10%;
  margin-top: 50px;
}

#section-two article{
  font-size: smaller;
  text-align: center;
}
