@import url('https://fonts.googleapis.com/css?family=Poppins');

body {
  font-family: 'Poppins';
}

header > div {
    padding: 0 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid lightgray;
  }
  
  nav {
    width: 600px;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  nav a {
    text-decoration: none;
    color: black;
  }
  
  .black-heart {
    width: 20px;
    margin-right: 1rem;
  }

.npm-logo{
    width: 6%;
    padding-right: 20px;
}

.mag-glass{
    width: 2%;
}

.head-div-2{
    display: flex;
    justify-content:center;
    align-items:center;
    flex-direction: row;
}

.bar{
    width: 1000px;
    height: 40px;
}